@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@font-face {
    font-family: 'Now';
    src: url('../fonts/now/Now-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Now';
    src: url('../fonts/now/Now-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PF-SignSkript';
    src: url('../fonts/pf-signskript/PF-SignSkript-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF-SignSkript';
    src: url('../fonts/pf-signskript/PF-SignSkript-Bold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --main-color: #913896;
    --primary-accent: #81BFE9;
    --secondary-accent: #008FC1;
    --dark-accent: #4A494A;
}

body {
    background-color: #ffffff;
    background-image: url('../images/background.png');    
    color: #FFFFFF;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    width:100%;
}

h1 {
    color: var(--main-color);
    font-family: 'PF-SignSkript', sans-serif;
    font-size: 6em;
    margin:0px;
}

h2 {    
    color: #FFFFFF;
    font-family: 'Now', sans-serif;
    font-size:4em;
    margin:0px;
    margin-bottom: 50px;
}

#content {
    padding: 20px; 
    padding-left: 50px; 
    padding-top: 200px; 
    clear: both;
}

#header{
    background-color: #FFFFFF; 
    height: 75px;
    padding: 10px; 
}

#imgLogo {
    height: 75px;
}

#pBlurb {
    font-size:1.4em;
}

#pInfo {
    color: var(--primary-accent); 
    font-size: 1.2em;    
    margin: 0px; 
    padding: 0px; 
    text-align: right;
}

/* Desktop-only styles */
@media (min-width: 768px) {
    body {
        background-size: cover;
    }
    #content {
        width: 40%;
    }    
}

/* Mobile-only styles */
@media (max-width: 767px) {
    h1 {
        font-size: 3.5em;
    }
    
    h2 {
        font-size: 1.8em;
    }

    #content {
        padding: 10px; 
        padding-top: 50px;
    }

    #header{
        height: 40px;
    }

    #imgLogo {
        height: 40px;
    }

    #pBlurb {
        font-size:1em;
    }

    #pInfo {
        font-size: .6em;
    }
}