@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@font-face {
    font-family: 'Now';
    src: url('../fonts/now/Now-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Now';
    src: url('../fonts/now/Now-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --main-color: #913896;
}

body {
    background-color: #ffffff;
    background-image: url('../images/background.jpg');
    color: #FFFFFF;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 2em;
    margin: 0;
    padding: 0;
    width:100%;
}

h1 {
    font-family: 'Now', sans-serif;
}

h2 {
    color: var(--main-color);
}

/* Desktop-only styles */
@media (min-width: 1024px) {
    #content {
        width: 60%;
    }
}